body {
    background: #0a0a0a;
    color: #00ff99;
    font-family: "Ubuntu Mono", monospace;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.terminal {
    flex: 1;
    background: #111;
    border-top: 4px solid #ff8800;
    padding: 10px;
    overflow-y: auto;
    box-shadow: inset 0 0 20px rgba(0,255,153,0.2);
}
.line {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 4px 0;
}
.prompt {
    color: #ff8800;
}
.output {
    color: #ccc;
    margin-left: 20px;
    font-size: 14px;
    margin: 5px;
}
.input-area {
    display: flex;
    align-items: center;
    background: #000;
    padding: 8px;
    border-top: 1px solid #333;
    gap: 8px;
}
.command-input {
    flex: 1;
    background: #111;
    border: 1px solid #00ff99;
    border-radius: 4px;
    color: #00ff99;
    font: inherit;
    outline: none;
    padding: 6px;
}
.btn {
    background: transparent;
    border: 2px solid #00ff99;
    color: #00ff99;
    font: inherit;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}
.btn:hover {
    background: rgba(0,255,153,0.1);
    box-shadow: 0 0 10px rgba(0,255,153,0.4);
}
.btn.leave {
    border-color: #ff4444;
    color: #ff4444;
}
.btn.leave:hover {
    background: rgba(255,77,77,0.1);
    box-shadow: 0 0 10px rgba(255,77,77,0.4);
}
@media (max-width: 600px) {
    .terminal {
    font-size: 14px;
    }
    .command-input {
    font-size: 14px;
    }
    .btn {
    padding: 6px 10px;
    font-size: 14px;
    }
}